body{
    background-color: rgb(16,2,1);
    color: rgb(242,28,36);
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
}

#box {
    background-color:  rgb(16,2,1);
    width: 360px;
    height: 555px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #grammata button {
    background-color:rgba(0, 0, 0, 0.178);
    color: rgb(242,28,36);
    border-color: rgb(242,28,36);
    border-width: 0.5px;
    margin: 1px;
    font-size: 20px;
    height: 57px;
    width: 57px;
} 

#container1{
    position: absolute;
    left: 3px;
    bottom: 1px;
}

#tainia{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 9px;
    word-spacing: 12px;
    word-break: normal;
    font-family: sans-serif;
}
   
span{
    background-color:rgba(0, 0, 0, 0);
    color: rgb(242,28,36);
}

#container2{
    width: 205px;
    position: absolute;
    left: 4px;
    top: 104px;
}

#container3{
    text-align: left;
    position: absolute;
    left: 6px;
    top: 3px;
    font-size: 23px;
    font-family: Mistral ;
}

#p{
    margin: 0px;
    font-size: 17px;
}