body{
    background-color: rgb(16,2,1);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    color: rgb(242,28,36);
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#grammata button{
    width: 39px;
    height: 39px;
    background-color:rgba(0, 0, 0, 0.178);
    color: rgb(242,28,36);
    font-weight: bold;
    border-color: rgb(242,28,36);
    border-width: 0.5px;
    margin: 2px;
}

#tainia{/*
    background-color:black;
    opacity:0.55;*/
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 8px;
}
   
span{
    background-color:rgba(0, 0, 0, 0.178);
    color: rgb(242,28,36);
    font-size: 22px;
    font-weight: bold;
}